<ion-nav-bar class="bar-assertive" style="background-color: #B71C1C;" >
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-nav-title>
        Dashboard
    </ion-nav-title>
    <ion-nav-buttons side="right" >
        <button class="button button-icon button-clear ion-android-more-vertical" ng-click="popover.show($event)"></button>
    </ion-nav-buttons>
</ion-nav-bar>
<ion-view>
    <ion-content class="has-header">
        <div class="hero has-mask " style="background-image: url('img/bg.jpg');">
            <div class="content">
                <div class="avatar" style="border-radius: 0;border: 0; background-image: url('img/logo2.png');"></div>
                <h5><a class="light">ngLaravel Mobile App</a></h5>
                <h4> </h4>
            </div>
        </div>
        <div class="mid-bar dark-bg z1 padding">
            <h3>NG-LARAVEL Client App</h3>
            <p>IONIC Version - iOS & Android</p>
        </div>
        <div class="content double-padding">
            <h4 class="positive">About App</h4>
            <p class="text-muted">
                Thank you for install ngLaravel mobile app on your phone. This app is a sample and you can custom it by your needs and API. Always we try to imporove nglaravel. This app created with IONIC hybrid mobile frameework and support cordov/phonegap functionality. We hope this product will be useful for you.
            </p>
            <a class="outline padding positive inline img-rounded" href="https://codecanyon.net/item/nglaravel-crud-angularjs-and-laravel-rest-api-based-on-jwt-with-role-permission-admin-template/15698174?ref=yeptemplate">
                <i class="ion ion-ios-cart"></i>
                PURCHASE - 22$
            </a>
        </div>
    </ion-content>
</ion-view>