<ion-view title="Forget" hide-nav-bar="true" id="page1" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false" style="background: url(img/bg.jpg) center; background-size: cover;">

        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h2 class="light">Forgot Password</h2>
                <p class="stable">Please enter email address</p>
            </div>
        </div>
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label stable">Email</span>
                <input type="Email" placeholder="Email" class="login-pl">
            </label>
        </div>
        <div class="padding">
            <button type="submit" class="button button-full button-assertive ink">Send</button>
            <button ui-sref="login" class="button button-full button-clear button-light">back to login</button>

        </div>
    </ion-content>
</ion-view>