<ion-view title="Reset" hide-nav-bar="true" id="page1" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false" style="background: url(img/back1.jpg) center; background-size: cover;">

        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h2>Reset Password</h2>
                <p>Please enter new your password</p>
            </div>
        </div>
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">New Password</span>
                <input type="Password" placeholder="New Password">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Confirm New Password</span>
                <input type="Password" placeholder="Confirm New Password">
            </label>
        </div>
        <div class="padding">
            <button type="submit" ui-sref="login" class="button button-full button-assertive ink">Reset password</button>
        </div>
    </ion-content>
</ion-view>